 <#body>
<script>
    document.domain="diligrp.com";
</script>
 <div class="easyui-panel" id="submitDiv" style="width:100%;" align="center">
    <form id="form" class="easyui-form" method="post" fit="true">
        <input name="taskId" id="taskId" value="${taskId}" type="hidden">
        <table width="60%" style="alignment: center">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" readonly="true" name="code" value="${orders.code}" id="code" style="width:100%" data-options="label:'订单号:', validType:'length[0,64]'"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" readonly="true" name="effectiveTime" value="${orders.effectiveTime, dateFormat="yyyy-MM-dd HH:mm:ss"}" id="effectiveTime" style="width:100%" editable="false" data-options="label:'生效时间:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" readonly="true" name="deadTime" value="${orders.deadTime, dateFormat="yyyy-MM-dd HH:mm:ss"}" id="deadTime" style="width:100%" editable="false" data-options="label:'失效时间:'" />
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:5px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="submitBtn"
                   onclick="save()">提交</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="cancelBtn"
                   onclick="cancel()">订单列表</a>
            </td>
        </table>
    </form>
 </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <!-- 遮照 -->
    <#cover cid="submitDiv" cover="${cover}"/>
    <script type="text/javascript">

        function cancel() {
            //向任务中心发送消息，参数为要跳转的地址
            window.parent.postMessage('<#config name="bpmn.server.address"/>/orders/index.html', '<#config name="bpmc.server.address"/>');
            location.href = "${contextPath}/orders/index.html";
        }

        function save(){
            if(!$('#form').form("validate")){
                return;
            }
            $("#submitBtn").linkbutton("disable");
            //form.action = "${contextPath}/orders/submit.action";
            //提交表单
            // form.submit();
            $('#form').form('submit', {
                url : "${contextPath}/orders/submit.action",
                dataType : "json",
                onSubmit : function(){

                },
                success:function(data){
                    var data = eval('(' + data + ')');
                    if(data.success) {
                        //如果父页面是任务中心
                        if(parent.location.href='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
                            //向任务中心发送消息，参数为要跳转的地址
                            window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
                        }else{
                            location.href = "${contextPath}/orders/index.html";
                        }
                    }else{
                        swal('警告', "错误:"+data.message, 'warning');
                    }
                }
            });


        }

        $(function () {

        })
    </script>
</#body>