<#body head_title="历史流程实例列表">

<div class="easyui-layout" fit="true">
    <!-- ====================================== ================================================================================ -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="110" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" >
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding: 20px 0;">
                    <tr>
                        <td>
                            <input class="easyui-textbox" name="processDefinitionId" id="processDefinitionId" style="width:390px" labelWidth="150" labelAlign="right" data-options="label:'processDefinitionId:', validType:'length[0,40]'" />
                        </td>
                        <td>
                            <input class="easyui-textbox" name="processInstanceId" id="processInstanceId" style="width:320px" labelWidth="150" labelAlign="right" data-options="label:'processInstanceId:', validType:'length[0,40]'" />
                        </td>
                        <td >
                            <a style="margin-left: 20px;" href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div region="center" style="width:100%;" height="auto">
        <table class="easyui-datagrid" title="ACT_HI_TASKINST" id="hisProcInstGrid" fitColumns="true" fit="true"
               pageSize="50" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id"
               align="center" striped="true" idField="id" data-options="view:scrollview, autoRowHeight:false,onLoadSuccess:updateTotal,onDblClickRow:showProgress" >
            <thead>
            <tr>
                <th width="220" data-options="field:'id',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    id
                </th>
                <th width="220" data-options="field:'name',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    name
                </th>
                <th width="220" data-options="field:'processInstanceId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processInstanceId
                </th>
                <th width="220" data-options="field:'processDefinitionName',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionName
                </th>
                <th width="220" data-options="field:'processDefinitionKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionKey
                </th>
                <th data-options="field:'processDefinitionVersion',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionVersion
                </th>
                <th width="310" data-options="field:'processDefinitionId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionId
                </th>
                <th width="180" data-options="field:'businessKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    businessKey
                </th>
                <th width="350" data-options="field:'deploymentId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    deploymentId
                </th>
                <th width="170" data-options="field:'startTime',  _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startTime
                </th>
                <th width="170" data-options="field:'endTime', _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    endTime
                </th>
                <th data-options="field:'durationInMillis',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    durationInMillis
                </th>
                <th width="170" data-options="field:'startActivityId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startActivityId
                </th>
                <th width="170" data-options="field:'endActivityId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    endActivityId
                </th>
                <th data-options="field:'deleteReason',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    deleteReason
                </th>
                <th data-options="field:'startUserId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startUserId
                </th>
                <th width="180" data-options="field:'description',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    description
                </th>
            </tr>
            </thead>
        </table>
        <!-- 隐藏编辑框 -->
        <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="true" title="流程图" style="padding:20px" modal="true" border="thin" closed="true"
             data-options="
				iconCls: 'icon-save',
				width:1366,
				height: 640
			">
            <img id="processInstanceImg" />
        </div>
    </div>
</div>

<script>
    /**
     * 查看进度图片
     * @param processInstanceId
     * @param processDefinitionId
     * @param processInstanceName
     */
    function showProgress(){
        var selected = $("#hisProcInstGrid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        var href = '${contextPath}/pi/progress.action?processInstanceId='+selected.id+'&processDefinitionId='+selected.processDefinitionId+"&"+Math.random();;
        $("#processInstanceImg").attr("src", href);
        $('#dlg').dialog('setTitle', "["+selected.processDefinitionName+"]流程图");
    }

    //表格查询
    function queryGrid() {
        var opts = $("#hisProcInstGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/his/listHisProcInst.action";
        }
        $("#hisProcInstGrid").datagrid("load", bindGridMeta2Form("hisProcInstGrid", "form"));
    }

    /**
     * 表格数据加载成功后修改表格标题中的总计数
     * @param data
     */
    function updateTotal(data) {
        $(".panel-title").html("ACT_HI_TASKINST(" + data.total + ")");
    }

    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

$(function() {
    queryGrid();
})
</script>
</#body>