<#body head_title="历史流程实例列表">

<div class="easyui-layout" fit="true">
    <!-- ====================================== ================================================================================ -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="110" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" >
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding: 20px 0;">
                    <tr>
                        <td>
                            <input class="easyui-textbox" name="processDefinitionId" id="processDefinitionId" style="width:390px" labelWidth="150" labelAlign="right" data-options="label:'processDefinitionId:', validType:'length[0,40]'" />
                        </td>
                        <td>
                            <input class="easyui-textbox" name="processInstanceId" id="processInstanceId" style="width:320px" labelWidth="150" labelAlign="right" data-options="label:'processInstanceId:', validType:'length[0,40]'" />
                        </td>
                        <td >
                            <a style="margin-left: 20px;" href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div region="center" style="width:100%;padding-top: 1px" height="auto">
        <table class="easyui-datagrid" title="历史流程实例" id="hisProcInstGrid" fitColumns="true" fit="true" noheader="true"
               pageSize="50" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id"
               align="center" striped="true" idField="id" data-options="view:scrollview, autoRowHeight:false" >
            <thead>
            <tr>
                <th width="220" data-options="field:'id',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    id
                </th>
                <th width="220" data-options="field:'name',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    name
                </th>
                <th width="220" data-options="field:'processInstanceId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processInstanceId
                </th>
                <th width="220" data-options="field:'processDefinitionName',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionName
                </th>
                <th width="220" data-options="field:'processDefinitionKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionKey
                </th>
                <th data-options="field:'processDefinitionVersion',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionVersion
                </th>
                <th width="310" data-options="field:'processDefinitionId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processDefinitionId
                </th>
                <th width="180" data-options="field:'businessKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    businessKey
                </th>
                <th width="350" data-options="field:'deploymentId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    deploymentId
                </th>
                <th width="170" data-options="field:'startTime',  _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startTime
                </th>
                <th width="170" data-options="field:'endTime', _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    endTime
                </th>
                <th data-options="field:'durationInMillis',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    durationInMillis
                </th>
                <th width="170" data-options="field:'startActivityId', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startActivityId
                </th>
                <th width="170" data-options="field:'endActivityId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    endActivityId
                </th>
                <th data-options="field:'deleteReason',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    deleteReason
                </th>
                <th data-options="field:'startUserId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    startUserId
                </th>
                <th width="180" data-options="field:'description',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    description
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    //表格查询
    function queryGrid() {
        var opts = $("#hisProcInstGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/his/listHisProcInst.action";
        }
        $("#hisProcInstGrid").datagrid("load", bindGridMeta2Form("hisProcInstGrid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

$(function() {
    queryGrid();
})
</script>
</#body>