<#body head_title="历史变量列表">

<div class="easyui-layout" fit="true">
    <!-- ====================================== ================================================================================ -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="110" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" >
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding: 20px 0;">
                    <tr>
                        <td>
                            <input class="easyui-textbox" name="processInstanceId" id="processInstanceId" style="width:320px" labelWidth="150" labelAlign="right" data-options="label:'processInstanceId:', validType:'length[0,40]'" />
                        </td>
                        <td>
                            <input class="easyui-textbox" name="taskId" id="taskId" style="width:240px" labelAlign="right" labelWidth="65" data-options="label:'taskId:', validType:'length[0,40]'" />
                        </td>
                        <td >
                            <a style="margin-left: 20px;" href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div region="center" style="width:100%;padding-top: 1px" height="auto">
        <table class="easyui-datagrid" title="历史变量" id="hisVarInstGrid" fitColumns="true" fit="true" noheader="true"
               pageSize="50" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id"
               align="center" striped="true" idField="id" data-options="view:scrollview, autoRowHeight:false" >
            <thead>
            <tr>
                <th width="220" data-options="field:'id',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    id
                </th>
                <th width="240" data-options="field:'variableName',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    variableName
                </th>
                <th width="150" data-options="field:'variableTypeName',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    variableTypeName
                </th>
                <th width="280" data-options="field:'value',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    value
                </th>
                <th width="220" data-options="field:'processInstanceId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    processInstanceId
                </th>
                <th width="220" data-options="field:'taskId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    taskId
                </th>
                <th width="170" data-options="field:'createTime',  _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    createTime
                </th>
                <th width="170" data-options="field:'lastUpdatedTime', _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    lastUpdatedTime
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    //表格查询
    function queryGrid() {
        var opts = $("#hisVarInstGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/his/listHisVarInst.action";
        }
        $("#hisVarInstGrid").datagrid("load", bindGridMeta2Form("hisVarInstGrid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

$(function() {
    queryGrid();
})
</script>
</#body>