<#bodyOrigin>
  <!-- main-container start  -->
  <div class="main-container">
    <div class="topicTop">
      <div class="toppic-title" style="background:#F5F5F5">
        <span class="topic-title-text maincolor">流程管理</span>
        <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('process');">返回</button>
      </div>
    </div>
    <!-- form start  -->
    <div class="step-one">
      <div class="text-center mt30">
        <img src="/pi/progress.action?processInstanceId=${processInstanceId!}&processDefinitionId=${processDefinitionId!}"/>
      </div>
    </div>
  </div>
</#bodyOrigin>
<script src="/resources/assets/dep/jquery/jquery-2.2.4.min.js"></script>
<script src="/resources/assets/dep/bootstrap/js/bootstrap.min.js"></script>
<script src="/resources/assets/dep/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/resources/assets/dep/bootstrap/js/bootstrap-datetimepicker-extend.js"></script>
<script src="/resources/assets/dep/jquery/jquery.validate.js"></script>
<script src="/resources/assets/dep/jquery/jquery.validate-extend.js"></script>
<script src="/resources/assets/dep/jquery/jquery.autocomplete.min.js"></script>
