<#body head_title="任务页面">
<script>
    document.domain="diligrp.com";
</script>
<style>
    /*设置表格行高*/
    .datagrid-row {
        height: 48px;
    }
    /*选中tab效果*/
    .tab-selected{
        font-weight: bold;
        font-size:18px;
        color:#007dc3;
        display:inline;
        text-decoration:none;
    }
    /*tab href效果*/
    .tab-href{
        font-size:18px;
        color:#666666;
        display:inline;
        text-decoration:none;
    }
    .tab-unselected{
        font-size:18px;
        display:inline;
        color:#8e8e8e;
        text-decoration:none;
    }
    /*菜单字体*/
    .menu-text{
        font-size: 14px;
        padding-left:10px;
        float:left;
    }
    /*最大化图标样式*/
    .maximize:hover{
        transform: scale(1.1);
        cursor:pointer;
    }
</style>
<div class="easyui-layout" fit="true" >
    <!-- ====================================== ================================================================================ -->
    <!-- 北侧布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" style="border-bottom: 1px solid #ababab;" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel gradient-title" style="width:100%;padding-top:10px;padding-bottom: 10px;" align="left" >
            <a <%if(category=='inbox'){%>class="tab-selected"<%}else{%>class="tab-unselected"<%}%> <%if(inboxCount>0){%>href="${contextPath}/task/taskCenter.html?category=inbox"<%}%> style="margin-left: 40px;">待办任务[${inboxCount}]</a>
            <a <%if(category=='tasks'){%>class="tab-selected"<%}else{%>class="tab-unselected"<%}%> <%if(tasksCount>0){%>href="${contextPath}/task/taskCenter.html?category=tasks"<%}%> style="margin-left: 18px;">我的任务[${tasksCount}]</a>
            <a id="queuedTab" <%if(category=='queued'){%>class="tab-selected"<%}else{%>class="tab-unselected"<%}%> <%if(queuedCount>0){%>href="${contextPath}/task/taskCenter.html?category=queued"<%}%> style="margin-left: 18px;">队列[${queuedCount}]</a>
            <a <%if(category=='involved'){%>class="tab-selected"<%}else{%>class="tab-unselected"<%}%> <%if(involvedCount>0){%>href="${contextPath}/task/taskCenter.html?category=involved"<%}%> style="margin-left: 18px;">受邀[${involvedCount}]</a>
            <a <%if(category=='archived'){%>class="tab-selected"<%}else{%>class="tab-unselected"<%}%> <%if(archivedCount>0){%>href="${contextPath}/task/taskCenter.html?category=archived"<%}%> style="margin-left: 18px;">已归档[${archivedCount}]</a>
            <a  style="float: right; padding-right: 50px;" class="tab-href" href="${contextPath}/pi/processCenter.html">流程中心</a>
        </div>

    </div>
    <!-- 西侧布局 -->
    <div region="west" style="width:260px;padding-top: 1px;" height="auto">

        <%/* if(has(task)){%>
        <ul class="easyui-datalist" title="任务列表" lines="true" noheader="true" valueField="id" textField="name" loadMsg="数据加载中..."
            style="width:260px;height:100%" data-options="textFormatter:fmt, onClickRow:showTask">
            <% for(task in tasks){%>
            <li value="${task.id}" group="分组">${task.name}</li>
            <%}%>
        </ul>
        <%}
        */%>
        <%if(has(task)){%>
        <div class="easyui-datalist" id="taskDatalist" lines="true" valueField="id" textField="name"  loadMsg="数据加载中..."
             style="width:260px;height:100%" data-options="textFormatter:fmt, onClickRow:showTask,groupField:'processDefinitionName'">
        </div>
        <%}%>
    </div>
    <!-- 中央布局 -->
    <div region="center" id="centerRegion" style="float:left;width:100%;padding-top: 1px;" height="auto">
        <% //定义表单页面
            var url;
        if(has(task)){%>
        <div style="margin: 25px;">
            <!-- 任务信息 -->
            <div style="position: relative; overflow: hidden; height: 70px;border-bottom: 1px solid #CCC;">
                <div style="overflow: hidden; padding-left: 0px; padding-top: 0px; position: absolute; left: 0px; top: 0px; width: 49px; height: 50px;">
                    <img style="vertical-align: middle;" src="${contextPath}/resources/images/task-50.png"/>&nbsp;&nbsp;
                </div>
                <div style="height: 27px; overflow: hidden; padding-left: 0px; padding-top: 0px; position: absolute; left: 61px; top: 0px; width: 845px;">
                    <span style="vertical-align: top; color:#007dc3;font-size: 20px;font-family: 'Microsoft YaHei';font-weight: bold;">${task.name}</span>
                    <span style="vertical-align: bottom; color:#007dc3;font-family: 'Microsoft YaHei';">- ${businessKey!}</span>
                </div>
                <div style="height: 18px; overflow: hidden; padding-left: 0px; padding-top: 0px; position: absolute; left: 61px; top: 32px; width: 845px;">
                    <div style="float: left;" title="${task.priority}">
                        <img style="vertical-align: middle;" src="${contextPath}/resources/images/priority-medium-16.png"/>
                        <span id="taskPriorityDesc" style="vertical-align: middle;">${task.priority}</span>&nbsp;
                    </div>
                    <div title="${task.createTime, 'yyyy-MM-dd HH:mm:ss'}">
                        <img style="vertical-align: middle;" src="${contextPath}/resources/images/time.png"/>
                        <span style="vertical-align: middle;">创建于<span id="taskTimeDesc">${task.createTime, 'yyyy-MM-dd HH:mm:ss'}</span></span>
                    </div>
                </div>
            </div>
            <!-- 任务描述和所属流程 -->
            <div style="position: relative; overflow: hidden; height: 70px;border-bottom: 1px solid #CCC;">
                <div style="margin-top: 10px;">
                    <%if(task.assignee == null){%>
                    <a href="#" onclick="claimTask();" class="easyui-linkbutton" data-options="">签收</a>
                    <%}%>
                    <span style="position: relative; top:0px;height: 50px;">${task.description}</span>
                </div>
                <div style="margin-top: 10px;">
                <a href="#" onclick="showProgress();" style="text-decoration: none;color:darkred">所属流程:'${processDefinitionName}'</a>
                </div>
            </div>
            <!-- 参与人 -->
            <div style="position: relative; overflow: hidden; height: 80px;border-bottom: 1px solid #CCC;">
                <div style="overflow: hidden; padding-left: 0px; padding-top: 0px; position: absolute; left: 0px; top: 0px; width: 800px; ">
                    <div style="vertical-align: top; color:#007dc3;font-size: 20px;font-family: 'Microsoft YaHei';padding-top:10px;padding-bottom: 10px;">参与人</div>
                    <div style="float:left;">
                        <img src="${contextPath}/resources/images/user-22.png"/>
                    <%if(task.owner==null){%>
                        无委托人
                    <%}else{%>
                        委托人: ${task.~ownerName}
                    <%}%>
                    </div>
                    <div style="position: absolute;left:200px;">
                        <img src="${contextPath}/resources/images/user-22.png"/>
                        <%if(task.assignee==null){%>
                        无办理人
                        <%}else{%>
                        办理人: ${task.~assigneeName}
                        <%}%>
                    </div>
                </div>
            </div>
            <div style="vertical-align: top; color:#007dc3;font-size: 20px;font-family: 'Microsoft YaHei';padding-top:10px;padding-bottom: 10px;">相关内容</div>
            <!-- 任务详情 -->
            <div id="taskDetail" style="position: relative; overflow: hidden;" >
                <% if(has(actForm)){%>
                <div style="vertical-align: top; font-weight:bold;font-family: 'Microsoft YaHei';padding-top:0px;padding-bottom: 10px;">请填写下面的表单后完成任务:<img align="right" onclick="maximize()" class="maximize" src="${contextPath}/resources/images/maximize-16.png"/></div>
                <%
                var symbol = "?";
                if(strutil.lastIndex(actForm.taskUrl,"?") > 0){
                    symbol = "&";
                }
                url = actForm.taskUrl + symbol + "taskId=" + task.id + "&formKey=" + task.formKey + "&taskDefinitionKey=" + task.taskDefinitionKey + "&processInstanceId=" + task.processInstanceId;
                if(has(businessKey)){
                    url = url + "&businessKey=" + businessKey;
                }
                //没有办理人则遮照(目前遮照由任务中心统一实现)
                //if(!has(isAssignee)) {
                //    //beetl不支持+=，艹
                //    url = url + "&cover=true";
                //}
                //站内页面，使用href，站外页面(http开头)使用iframe
                if(strutil.startWith(actForm.taskUrl, "http")){
                var content = "<iframe id=\"actFormFrame\" src=\"" + url + "\" frameborder=\"0\" height=\"100%\" width=\"100%\" scrolling=\"yes\"></iframe>";
                %>
                ${content}
                <%}else{//站内页面%>
                <div class="easyui-panel" style="width: 100%;" data-options="href:'${contextPath}${url}'" >
                <%}%>
                </div>
                <%}else{%>
                此任务无附加内容
                <%}%>
            </div>

        </div>
            <!-- 隐藏流程图框 -->
            <div id="dlg" class="easyui-dialog" resizable="true" constrain="true" shadow="true" draggable="true" title="流程图" style="padding:10px" modal="false" closed="true" border="true"
                 data-options="
                    iconCls: 'icon-save',
                    width:1366,
                    height: 640
                ">
                <img id="processInstanceImg" />
            </div>
        <%}%>
    </div>
</div>
<!-- 遮照 -->
<%if(has(task) && task.assignee == null){%>
<#cover cid="taskDetail" cover="true"/>
<%}%>
<!-- 队列菜单 -->
<div id="mm" class="easyui-menu" data-options="noline:true,hideOnUnhover:false" style="width:120px;">
    <%for(group in groupMap){%>
    <div href="${contextPath}/task/taskCenter.html?category=queued&groupId=${group.key}">${group.value}</div>
    <%}%>
</div>

<script>
    //监听子页面的toLogin事件消息
    window.addEventListener('message',function(e){
        var data = e.data;
        var origin = e.origin;
        window.location.href=data;
    },false);

    <% if(has(task)){%>
        /**
         * 打开任务页面
         */
        function maximize() {
            //window.open("${url}");
            window.location.href = '${url}';
        }
    /**
     * 查看进度图片
     * @param processInstanceId
     * @param processDefinitionId
     * @param processInstanceName
     */
    function showProgress(){
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        var href = "${contextPath}/pi/progress.action?processInstanceId=${task.processInstanceId}&processDefinitionId=${task.processDefinitionId}&"+Math.random();
        $("#processInstanceImg").attr("src", href);
        $('#dlg').dialog('setTitle', "${processDefinitionName}");
    }

    /**
     * 申领任务
     */
    function claimTask() {
        $.ajax({
            type: "POST",
            url: "${contextPath}/task/claim.action",
            data: {taskId:"${task.id}"},
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.success){
                    location.href="${contextPath}/task/taskCenter.html?category=inbox&taskId=${task.id}";
                }else{
                    swal('错误', data.message, 'error');
                }
            },
            error: function(){
                swal('错误', '远程访问失败', 'error');
            }
        });
    }

    /**
     * 显示任务详情
     */
    function showTask(rowIndex, rowData) {
        location.href="${contextPath}/task/taskCenter.html?taskId="+rowData.id+"&category=${category}";
    }

    /**
     * 任务列表格式化器
     */
    function fmt(value, row, index){
        //选中当前任务
        if(row.id=='${task.id}'){
            return "<img style=\"vertical-align: middle;\" src=\"${contextPath}/resources/images/task-22.png\"/>&nbsp;&nbsp;<B style=\"color: #007dc3;font-family: 'Microsoft YaHei';\">"+value+"</B>";
        }else{
            return "<img style=\"vertical-align: middle;\" src=\"${contextPath}/resources/images/task-22.png\"/>&nbsp;&nbsp;"+value;
        }
    }

    /**
     * 处理时间描述
     */
    function handlePublishTimeDesc(postModified){
        // 拿到当前时间戳和发布时的时间戳，然后得出时间戳差
        var curTime = new Date();
        var postTime = new Date(postModified);
        var timeDiff = curTime.getTime() - postTime.getTime();

        // 单位换算
        var min = 60 * 1000;
        var hour = min * 60;
        var day = hour * 24;
        var week = day * 7;

        // 计算发布时间距离当前时间的周、天、时、分
        var exceedWeek = Math.floor(timeDiff/week);
        var exceedDay = Math.floor(timeDiff/day);
        var exceedHour = Math.floor(timeDiff/hour);
        var exceedMin = Math.floor(timeDiff/min);

        // 最后判断时间差到底是属于哪个区间，然后return
        if(exceedWeek > 0){
            return postModified;
        }else{
            if(exceedDay < 7 && exceedDay > 0){
                return exceedDay + '天前';
            }else{
                if(exceedHour < 24 && exceedHour > 0){
                    return exceedHour + '小时前';
                }else{
                    return exceedMin + '分钟前';
                }
            }
        }
    }

    /**
     * 处理优先级描述
     */
    function handlePriority(priority) {
        if(priority<=30){
            return "低";
        }else if(priority >30 && priority <=70){
            return "中";
        }else{
            return "高";
        }
    }
    <%}//end of has task%>
    $(function() {
        <% if(has(task)){%>
            //处理任务时间描述
            $("#taskTimeDesc").html(handlePublishTimeDesc("${task.createTime, 'yyyy-MM-dd HH:mm:ss'}"));
            //处理任务优先级显示
            $("#taskPriorityDesc").html(handlePriority(${task.priority}));
            //iframe自适应高度
            var iframe = document.getElementById("actFormFrame");
            //中央区域的高度减去上任务基本属性的高度
            if(iframe) {
                iframe.height = $("#centerRegion").height() - 345;
            }

            $("#taskDatalist").datalist("loadData",${tasks});
        <%}%>
        //绑定队列tag右键菜单
        $("#queuedTab").bind('contextmenu', function(e){
            e.preventDefault();
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        });

    })

</script>

</#body>