<#body head_title="任务页面">
<div class="easyui-layout" fit="true">
    <!-- ====================================== ================================================================================ -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="120" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left" >
            <form id="form" class="easyui-form" method="post" fit="true">
                <div class="search-wrap">
                    <div class="search-item">
                        <input class="easyui-textbox" name="processDefinitionId" id="processDefinitionId" style="width:100%" labelAlign="right" data-options="label:'定义id:', validType:'length[0,40]'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="processInstanceId" id="processInstanceId" style="width:100%" labelAlign="right" data-options="label:'实例id:', validType:'length[0,40]'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="taskId" id="taskId" style="width:100%" labelAlign="right" data-options="label:'任务id:', validType:'length[0,40]'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="assignee" id="assignee" style="width:100%" labelAlign="right" data-options="label:'受理人:', validType:'length[0,40]'" />
                    </div>
                    <div class="search-wrap-btn">
                        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                           onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div region="center" style="width:100%;padding-top: 1px" height="auto">
        <table class="easyui-datagrid" title="任务管理" id="taskGrid" fitColumns="true" fit="true" noheader="true" pageList="[30,50,100]"
               pagination="true" pageSize="50" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
               loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id"
               align="center" striped="true" idField="id" data-options="" >
            <thead>
            <tr>
                <th width="12%" data-options="field:'id',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    任务ID
                </th>
                <th width="8%" data-options="field:'name',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    名称
                </th>
                <th width="5%" data-options="field:'parentTaskId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    父编号
                </th>
                <th width="5%" data-options="field:'owner',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    拥有者
                </th>
                <th width="5%" data-options="field:'assignee',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    受托人
                </th>
                <th width="5%" data-options="field:'delegationState',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    委托状态
                </th>
                <th width="12%" data-options="field:'processInstanceId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    流程实例ID
                </th>
                <th width="20%" data-options="field:'processDefinitionId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    流程定义ID
                </th>
                <th width="10%" data-options="field:'createTime', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    创建时间
                </th>
                <th width="9%" data-options="field:'taskDefinitionKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    任务定义Key
                </th>
                <th width="10%" data-options="field:'formKey',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    FormKey
                </th>
            </tr>
            </thead>
        </table>
        <div id="taskGridToolbar" style="padding: 2px 5px;">
            <input class="easyui-textbox" name="taskParam" id="taskParam" style="width:40%" labelWidth="100" labelAlign="right" label="任务URL参数" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-play" onclick="execute()" plain="true">完成任务</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-detail" onclick="taskForm()" plain="true">任务表单</a>
        </div>
    </div>
</div>

<script>
    function taskForm(){
        var selected = $("#taskGrid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
        if(selected.assignee == null){
            swal('错误', '任务没有受托人!', 'error');
            return;
        }
        window.open("${contextPath}/task/startForm.html?processDefinitionId="+selected.processDefinitionId+"&taskDefinitionKey="+selected.taskDefinitionKey+"&taskId="+selected.id)
    }

    /**
     * 任务流转
     * @param processInstanceId 流程实例id
     * @param taskId
     */
    function execute(processInstanceId, taskId){
        var selected = $("#taskGrid").datagrid("getSelected");
        if (null == selected) {
            swal('警告','请选中一条数据', 'warning');
            return;
        }
        var taskParam = $("#taskParam").val();
        var url = "${contextPath}/task/claimAndComplete.action?taskId="+selected.id+"&"+taskParam;
        $.ajax({
            type: "POST",
            url: url,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.success){
                    window.location.reload(false);
                }else{
                    swal('错误',data.result, 'error');
                }
            },
            error: function(){
                swal('错误', '远程访问失败', 'error');
            }
        });
    }

    //表格查询
    function queryGrid() {
        var opts = $("#taskGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/task/listPage.action";
        }
        if(!$('#form').form("validate")){
            return;
        }
        $("#taskGrid").datagrid("load", bindGridMeta2Form("taskGrid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

    $(function() {
        var pager = $("#taskGrid").datagrid('getPager');
        pager.pagination({
            <#controls_paginationOpts/>,
            buttons:"#taskGridToolbar"

    });
        queryGrid();
    })
</script>
</#body>