<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.bpmc.dao.ActRuTaskMapper">

	<resultMap type="com.dili.bpmc.sdk.dto.TaskIdentityDto" id="TaskIdentityRM">
		<id column="ID_" property="taskId" />
		<result column="PROC_DEF_ID_" property="processDefinitionId" />
		<result column="PROC_INST_ID_" property="processInstanceId" />
		<result column="ASSIGNEE_" property="assignee" />
		<result column="FORM_KEY_" property="formKey" />
		<collection property="groupUsers" ofType="com.dili.bpmc.sdk.dto.GroupUserDto" javaType="java.util.List">
			<result column="GROUP_ID_" property="groupId" />
			<result column="USER_ID_" property="userId" />
		</collection>
	</resultMap>

	<select id="list" parameterType="com.dili.bpmc.sdk.dto.TaskDto" resultType="com.dili.bpmc.sdk.domain.TaskMapping">
		SELECT
		t.`ID_` id,
		t.`REV_` rev,
		t.`EXECUTION_ID_` executionId,
		t.`PROC_INST_ID_` processInstanceId,
		t.`PROC_DEF_ID_`
		processDefinitionId,
		t.`NAME_` name,
		t.`PARENT_TASK_ID_` parentTaskId,
		t.`DESCRIPTION_`
		description,
		t.`TASK_DEF_KEY_` taskDefinitionKey,
		t.`OWNER_` owner,
		t.`ASSIGNEE_` assignee,
		t.`DELEGATION_`,
		t.`PRIORITY_`
		priority,
		t.`CREATE_TIME_` createTime,
		t.`DUE_DATE_` dueDate,
		t.`CATEGORY_`
		category,
		t.`SUSPENSION_STATE_` suspensionState,
		t.`TENANT_ID_` tenantId,
		t.`FORM_KEY_` formKey,
		u.real_name assigneeName
		FROM
		ACT_RU_TASK t left join user u on t.ASSIGNEE_ = u.id
		where 1=1
		<if test="processInstanceIds != null and processInstanceIds.size()>0">
			and t.PROC_INST_ID_ IN
			<foreach collection="processInstanceIds" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>

	</select>

	<select id="taskCandidateUserCount" resultType="int" parameterType="string">
		SELECT COUNT(DISTINCT RES.ID_)
		FROM ACT_RU_TASK RES
		INNER
		JOIN ACT_RU_IDENTITYLINK I ON I.TASK_ID_ = RES.ID_
		WHERE RES.ASSIGNEE_
		IS NULL AND I.TYPE_ = 'candidate' AND (I.USER_ID_ =
		#{name} )
	</select>

	<select id="listTaskIdentityByProcessInstanceIds" parameterType="java.util.List" resultMap="TaskIdentityRM">
		SELECT
		art.ID_,
		art.PROC_DEF_ID_ ,
		art.PROC_INST_ID_ ,
		art.ASSIGNEE_ ,
		art.FORM_KEY_,
		ari.GROUP_ID_ ,
		ari.USER_ID_
		FROM
		ACT_RU_TASK art
		LEFT JOIN ACT_RU_IDENTITYLINK ari ON art.ID_ = ari.TASK_ID_
		WHERE
		art.PROC_INST_ID_ IN
		<foreach collection="list" item="processInstanceId" open="(" separator="," close=")">
			#{processInstanceId}
		</foreach>
	</select>
</mapper>