<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.bpmc.dao.ActTaskTitleMapper">
  <resultMap id="BaseResultMap" type="com.dili.bpmc.domain.ActTaskTitle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="process_definition_id" jdbcType="VARCHAR" property="processDefinitionId" />
    <result column="refresh" jdbcType="BIT" property="refresh" />
    <result column="load_proc_var" jdbcType="BIT" property="loadProcVar" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="proc_var" jdbcType="VARCHAR" property="procVar" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, process_definition_id, refresh, load_proc_var, available, proc_var, creater_id, modifier_id,
    created, modified
  </sql>

</mapper>