<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.bpmc.dao.ActTaskTitleMapper">
  <resultMap id="BaseResultMap" type="com.dili.bpmc.domain.ActTaskTitle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="process_definition_id" jdbcType="VARCHAR" property="processDefinitionId" />
    <result column="refresh" jdbcType="BIT" property="refresh" />
    <result column="load_proc_var" jdbcType="BIT" property="loadProcVar" />
    <result column="proc_var" jdbcType="VARCHAR" property="procVar" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, process_definition_id, refresh, load_proc_var, proc_var, creater_id, modifier_id, 
    created, modified
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from act_task_title
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.bpmc.domain.ActTaskTitle">
    <!--
      WARNING - @mbg.generated
    -->
    update act_task_title
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="processDefinitionId != null">
        process_definition_id = #{processDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="refresh != null">
        refresh = #{refresh,jdbcType=BIT},
      </if>
      <if test="loadProcVar != null">
        load_proc_var = #{loadProcVar,jdbcType=BIT},
      </if>
      <if test="procVar != null">
        proc_var = #{procVar,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>