<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.bpmd.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.dili.bpmd.domain.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="proc_inst_id" jdbcType="VARCHAR" property="procInstId" />
    <result column="proc_def_id" jdbcType="VARCHAR" property="procDefId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="dead_time" jdbcType="TIMESTAMP" property="deadTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, proc_inst_id, proc_def_id, state, effective_time, dead_time, created, modified
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.bpmd.domain.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    update orders
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        proc_inst_id = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null">
        proc_def_id = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="effectiveTime != null">
        effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        dead_time = #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>